/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /**
     * COLORS
     */

    /** Background colors */
    --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --bg-test: rgba(159, 114, 255, 0.8);
    --bg-carolina-blue: #00bd91;
    --bg-prussian-blue: hsl(0, 0%, 100%);
    --bg-oxford-blue: hsl(0, 0%, 100%);
    --bg-oxford-blue-2: hsl(0, 0%, 95%);
    --bg-oxford-blue-3: #f0f0f0;

    /** Text colors */
    --text-white: hsl(0, 0%, 96%);
    --text-alice-blue: hsl(0, 0%, 5%);
    --text-columbia-blue: hsl(0, 2%, 9%);
    --text-wild-blue-yonder: hsl(0, 0%, 0%);
    --text-carolina-blue: hsl(287, 96%, 26%);
    --text-shadow-blue: hsla(217, 24%, 59%, 1);
    --text-slate-gray: hsla(217, 17%, 48%, 1);

    /** Gradient colors */
    --gradient-1: linear-gradient(90deg, #5fea0e, #0bd1d1 51%);
    --gradient-2: linear-gradient(90deg, #ea9d0e, #0bd1d1 51%, #5f0eea);
    --gradient-3: linear-gradient(0deg, #000d1a, transparent);

    /** Border colors */
    --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --border-prussian-blue: hsl(216, 32%, 33%);
    --border-white: hsl(0, 0%, 100%);
    --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);

    /** Default colors */
    --white: hsl(0, 0%, 100%, 1);
    --black: hsl(0, 0%, 0%, 1);

    /**
     * TYPOGRAPHY
     */

    /** Font family */
    /*--fontFamily-noto_sans: 'Noto Sans', sans-serif;*/
    --fontFamily-noto_sans: 'Montserrat', sans-serif;

    /** Font size */
    --fontSize-1: 2.9rem;
    --fontSize-2: 2rem;
    --fontSize-3: 1.8rem;
    --fontSize-4: 1.6rem;
    --fontSize-5: 1.5rem;
    --fontSize-6: 1.4rem;
    --fontSize-7: 1.2rem;
    --fontSize-8: 1.3rem;

    /** Font weight */
    --weight-medium: 500;
    --weight-semiBold: 600;
    --weight-bold: 700;
    --weight-extraBold: 800;

    /** Line height */
    --lineHeight-1: 1.3;
    --lineHeight-2: 1.5;
    --lineHeight-4: 1.2;

    /**
     * BOX SHADOW
     */

    --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
    --shadow-2: 0px 3px 20px hsla(0, 0%, 0%, 0.2);

    /**
     * BORDER RADIUS
     */

    --radius-6: 6px;
    --radius-8: 8px;
    --radius-16: 16px;
    --radius-48: 48px;
    --radius-circle: 50%;
    --radius-pill: 200px;

    /**
     * SPACING
     */

    --section-padding: 40px;

    /**
     * TRANSITION
     */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}

input {
    width: 100%;
    outline: none;
}

button {
    cursor: pointer;
}

ion-icon {
    pointer-events: none;
}

address {
    font-style: normal;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-oxford-blue-3);
    color: var(--text-shadow-blue);
    font-family: var(--fontFamily-noto_sans);
    font-size: 1.6rem;
    line-height: var(--lineHeight-4);
    overflow-y: overlay;
}

body.nav-active {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-carolina-blue);
    border-radius: var(--radius-pill);
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
/* ----------------- Main container -----------------------------*/

.main-container {
    display: grid;
    grid-template-columns: 0.43fr 2fr 0.5fr;
    color: #000;
    margin: 0 34px;
    gap: 34px;
}

.menu-container div:not(:first-child) {
    margin-top: 15px;
}

/* ------------------------------------------------------------- */


/*-------------------- Menu Left -------------------------------*/

.menu-container div {
    max-height: 400px;
    background: #fff;
    border-radius: var(--radius-16);
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.07);
    padding: 10px 10px 12px 14px;

}


.menu-header {
    font-size: 16px;
    margin: 8px 0 8px 2px;
    font-weight: 700;
}

.menu {
    list-style: none;
    padding: 0 4px;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.menu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 6px 16px;
    position: relative;
}

.menu li a .sm-line {
    position: relative;
    transition: all 0.5s ease-in-out;
    display: inline-block;
}

.menu li a:hover .sm-line::after {
    width: 100%;
}

.menu li a .sm-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: hsl(166, 100%, 37%);
    transition: width 0.3s ease-in-out;
}

.flex-social-icons {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.flex-social-icons a img {
    transition: transform 0.3s ease; /* плавне збільшення */
    display: block; /* це допоможе забезпечити коректну роботу трансформацій */
}

.flex-social-icons a:hover img,
.flex-social-icons a:focus img {
    transform: scale(1.1); /* Збільшення розміру на 10% */
}

/* ------------------ List -----------------------*/
.menu li a::before {
    content: '';
    position: absolute;
    left: -1px; /* Змістіть трохи ліворуч, або ж налаштуйте за потребою */
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
    width: 6px;
    height: 6px;
    background-color: hsl(166, 100%, 37%);
    clip-path: polygon(0 0, 100% 0, 0 100%); /* Формування трикутника */
    transition: background-color 0.3s;
}

.menu li a:hover::before {
    background-color: deepskyblue; /* Зміна кольору трикутника при наведенні */
}

/* ------------------------------------------------------------- */


.hover-1,
.hover-2 {
    transition: var(--transition-1);
}

.hover-1:is(:hover, :focus-visible) {
    color: var(--text-wild-blue-yonder);
    transform: translateX(3px);
}

.hover-2:is(:hover, :focus-visible) {
    color: var(--text-carolina-blue);
}

.profile-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-card .profile-banner {
    border-radius: var(--radius-circle);
}

.headline {
    color: var(--text-columbia-blue);
    line-height: var(--lineHeight-1);
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.headline-1 {
    font-size: var(--fontSize-1);
    color: var(--text-alice-blue);
    font-weight: var(--weight-extraBold);
}

.headline-2 {
    font-size: var(--fontSize-3);
}

.headline-3 {
    font-size: var(--fontSize-2);
    line-height: var(--lineHeight-2);
}

.section-title {
    margin-block-end: 10px;
}

.headline .span {
    /*background-image: var(--gradient-1);*/
    display: inline-block;
    /*-webkit-text-fill-color: transparent;*/
    -webkit-background-clip: text;
}

.btn {
    background-color: #000;
    background-size: 200%;
    background-position: left;
    color: var(--white);
    font-size: var(--fontSize-6);
    font-weight: var(--weight-bold);
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 3px;
    transition: var(--transition-1);
}

.btn:is(:hover, :focus-visible) {
    background-position: right;
}

.btn-primary {
    padding: 8px 16px;
    border-radius: var(--radius-6);
}

.btn-secondary {
    padding: 18px 60px;
    border-radius: var(--radius-pill);
    margin-top: 50px;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.card {
    background-color: var(--bg-oxford-blue);
    /*border: 1px solid var(--border-prussian-blue);*/
    /*box-shadow: 1px 15px 15px 2px #0000000f;*/
    /*box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1);*/
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.07);
}

.img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--bg-prussian-blue);
    overflow: hidden;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section {
    padding-block: var(--section-padding);
}

.section-text {
    font-size: var(--fontSize-3);
    margin-block-end: 36px;
}

.grid-list {
    display: grid;
    gap: 30px;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    font-size: var(--fontSize-6);
    margin-block: 14px;
}

.card-wrapper :is(.card-tag, .wrapper) {
    gap: 3px;
    align-items: center;
    display: flex;

}


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/


.header .btn {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 18px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09);
    z-index: 4;
}

.header.active {
    padding-block: 18px;
    animation: slideIn 0.5s ease forwards;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09);

}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 90%;

}

.nav-open-btn,
.nav-close-btn {
    color: var(--text-wild-blue-yonder);
    font-size: 3.5rem;
}

.navbar {
    position: absolute;
    top: 0;
    right: -340px;
    max-width: 340px;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-oxford-blue-2);
    padding: 30px;
    z-index: 2;
    overflow-y: auto;
    visibility: hidden;
    transition: 0.25s var(--cubic-in);
}

.navbar.active {
    transform: translateX(-340px);
    visibility: visible;
    transition: 0.5s var(--cubic-out);
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: 15px;
    margin-block-end: 15px;
    border-block-end: 1px solid var(--border-prussian-blue);
}

.navbar-list {
    border-block-end: 1px solid var(--border-white-alpha-15);
}

.navbar-link {
    color: var(--text-alice-blue);
    font-weight: var(--weight-medium);
    padding-block: 10px;
}

.navbar-bottom {
    padding-block: 30px 20px;
    margin-block: 20px 25px;
    border-block: 1px solid var(--border-prussian-blue);
}

.navbar .profile-card {
    margin-block-end: 15px;
}

.navbar .profile-card .card-title {
    color: var(--text-columbia-blue);
    font-size: var(--fontSize-6);
    font-weight: var(--weight-semiBold);
}

.navbar .profile-card .card-subtitle {
    font-size: var(--fontSize-7);
}

.navbar .link-list {
    columns: 2;
    -webkit-columns: 2;
}

.navbar-bottom-link {
    color: var(--text-alice-blue);
    font-size: var(--fontSize-6);
    padding-block: 6px;
}

.copyright-text {
    color: var(--text-alice-blue);
    font-size: var(--fontSize-8);
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero-bg {
    display: none;
}

.hero {
    padding-block-start: calc(var(--section-padding) + 60px);
}

.hero .container {
    display: grid;
    gap: 50px;
}

.hero-subtitle {
    font-size: var(--fontSize-6);
    font-weight: var(--weight-bold);
}

.hero .section-title {
    margin-block: 20px;

}

.hero .hero-text {
    margin-block-end: 40px;
}

.hero .input-wrapper:hover {
    box-shadow: var(--shadow-2);
}

.hero .input-wrapper {
    position: relative;
    padding: 10px;
    padding-inline-start: 20px;
    background-color: var(--bg-prussian-blue);
    border-radius: var(--radius-6);
    border: 1px solid var(--bg-carolina-blue);
    display: flex;
    justify-items: flex-end;
    transition: var(--transition-1);
}

.hero .input-field {
    padding-inline-end: 5px;
}

.hero-banner {
    position: relative;
}

.hero-banner .w-100 {
    max-width: max-content;
    margin-inline: auto;
}

.hero .shape {
    position: absolute;
    z-index: -1;

    animation: heroDecoAnim 3s linear infinite alternate;
}

@keyframes heroDecoAnim {
    0% {
        transform: translateY(40px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0.4turn);
    }
}

.hero .shape-1 {
    top: 50px;
    right: 40px;
}

.hero .shape-2 {
    bottom: 20px;
    left: 24px;
}

/*-----------------------------------*\
  #FEATURED
\*-----------------------------------*/

.feature-bg {
    display: none;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.feature-card {
    padding: 20px;
    border-radius: var(--radius-16);
    transition: var(--transition-1);
    display: flex;
    flex-direction: column; /* Ensure that the content inside each card is arranged vertically */
    justify-content: space-between; /* Spread out the content evenly */
    height: 100%; /* Make the card take the full height available */
}

.feature-card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Allow the content to grow and fill the available space */
}

.feature-card:is(:hover, :focus-within) {
    transform: translateY(-5px);
}

.feature-card .card-banner {
    border-radius: var(--radius-16);
}

.feature-card .card-wrapper {
    margin-block-start: 24px;
}

.feature-card:is(:hover, :focus-visible) {
    box-shadow: var(--shadow-2);
    background-image: linear-gradient(var(--bg-oxford-blue), var(--bg-oxford-blue)), var(--gradient-1);
    background-clip: padding-box, border-box;
    border-color: transparent;
    transform: translateY(-2px);
    transition: var(--transition-1);
}

.feature .profile-card :is(.card-title, .card-subtitle) {
    color: var(--text-slate-gray);
}

.feature .profile-card .card-title {
    font-weight: var(--weight-bold);
}

.feature .profile-card .card-subtitle,
.feature .card-wrapper .card-btn {
    font-size: var(--fontSize-6);
}

.feature-card .card-wrapper:last-child {
    font-size: var(--fontSize-4);
    margin-block-end: 0;
}

.feature .card-wrapper .card-btn {
    position: relative;
    color: var(--text-wild-blue-yonder);
    z-index: 1;
}

/*.feature .card-wrapper .card-btn::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: -13px;*/
/*    left: -20px;*/
/*    width: 48px;*/
/*    height: 48px;*/
/*    background-color: var(--bg-oxford-blue-2);*/
/*    border-radius: var(--radius-circle);*/
/*    z-index: -1;*/
/*}*/
.card-btn:hover {
    color: #fff;
}

.feature .btn {
    margin-inline: auto;
    margin-block-start: 30px;
}


/*-----------------------------------*\
  #POPULAR TAGS
\*-----------------------------------*/

.tags .grid-list {
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}

.tag-btn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 18px;
    border-radius: var(--radius-16);
}

.tag-btn:is(:hover, :focus-visible) {
    box-shadow: var(--shadow-2);
    background-image: linear-gradient(var(--bg-oxford-blue), var(--bg-oxford-blue)), var(--gradient-1);
    background-clip: padding-box, border-box;
    border-color: transparent;
    transform: translateY(-2px);
    transition: var(--transition-1);
}

.tag-btn img {
    width: 100%;
    max-width: 36px;
    border-radius: 50%;
}


/*-----------------------------------*\
  #RECENT POST
\*-----------------------------------*/

.recent-post .container {
    display: grid;
    gap: 50px;
}

.recent-post-card {
    display: grid;
    gap: 30px;
    padding: 16px;
    border-radius: var(--radius-16);
    transition: var(--transition-1);
    background-color: var(--bg-oxford-blue);
    border: 1px solid var(--border-prussian-blue);
}

.recent-post-card .card-banner {
    border-radius: var(--radius-16);
    transition: var(--transition-1);
}

/*.recent-post-card:is(:hover, :focus-within) .card-banner {*/
/*    transform: translateY(-2px);*/
/*}*/

.recent-post-card .card-text {
    color: var(--text-wild-blue-yonder);
    font-size: var(--fontSize-6);
    line-height: var(--lineHeight-1);
}

.card-badge {
    max-width: max-content;
    color: var(--text-white);
    font-size: var(--fontSize-8);
    font-weight: var(--weight-bold);
    padding: 4px 15px;
    border-radius: var(--radius-pill);
    transition: var(--transition-1);
}

.card-badge:is(:hover, :focus-visible),
.pagination-btn:is(:hover, :focus-visible) {
    transform: translateY(-2px);
    background-color: var(--bg-carolina-blue);
}

.recent-post-card .card-title {
    margin-block: 15px 20px;
}

.recent-post-card .card-tag {
    gap: 15px;
    color: var(--text-slate-gray);
}

.recent-post-card .card-wrapper ion-icon {
    font-size: 1.8rem;
    --ionicon-stroke-width: 40px;
}


.recent-post-card:is(:hover, :focus-visible) {
    box-shadow: var(--shadow-2);
    background-image: linear-gradient(var(--bg-oxford-blue), var(--bg-oxford-blue)), var(--gradient-1);
    background-clip: padding-box, border-box;
    border-color: transparent;
    transform: translateY(-2px);
    transition: var(--transition-1);
}

.pagination-btn {
    background-color: var(--bg-prussian-blue);
    color: #000;
    font-weight: 600;
    line-height: 1;
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    border-radius: 20%;
    transition: var(--transition-1);
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.07);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-block-start: 60px;
}

.aside-card {
    padding: 25px;
    border-radius: var(--radius-16);
}

.aside-title {
    margin-block-end: 40px;
}

.aside-title .span {
    position: relative;
}

.aside-title .span::after {
    content: "";
    display: block;
    width: 96px;
    height: 3px;
    background-color: var(--bg-carolina-blue);
    margin-block-start: 10px;
}

.popular-card {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-block-start: 20px;
}

.popular-card .card-banner {
    width: 54px;
    flex-shrink: 0;
    border-radius: var(--radius-circle);
}

.popular-list > li:not(:last-child) .card-content {
    border-block-end: 1px solid var(--border-prussian-blue);
}

.popular-card .warpper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
    font-size: var(--fontSize-6);
    color: var(--text-slate-gray);
    margin-block: 12px 20px;
}

.comment-list > li:not(:last-child) .comment-card {
    /*padding-block-end: 22px;*/
    border-block-end: 1px solid var(--border-prussian-blue);
    margin-block-end: 12px;
}

.comment-card .card-text {
    color: var(--text-wild-blue-yonder);
    font-size: var(--fontSize-6);
    line-height: var(--lineHeight-1);
    margin-block-end: 20px;
    margin-top: 20px;
}

.comment-card .profile-card {
    color: var(--text-slate-gray);
    font-size: var(--fontSize-6);
}

.comment-card .card-date {
    font-size: var(--fontSize-7);
}


.insta-card .card-text {
    color: var(--text-slate-gray);
    font-weight: var(--weight-bold);
    margin-block: 5px 30px;
}

.insta-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.insta-post {
    border-radius: var(--radius-8);
}


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
    padding-inline: 20px;
    border-radius: var(--radius-48);
    color: var(--text-wild-blue-yonder);
    margin-block-end: 24px;
}

.footer-top {
    display: grid;
    gap: 20px;
}

.footer-brand .footer-text {
    font-size: var(--fontSize-6);
}

.footer-text:not(.address) {
    margin-block: 20px;
}

.footer-brand .footer-list-title {
    margin-block-end: 2px;
}

.footer-list-title {
    color: var(--text-columbia-blue);
    font-size: var(--fontSize-3);
    margin-block-end: 30px;
}

.footer-list ul {
    columns: 2;
}

.footer-link {
    margin-block-end: 12px;
}

.footer .input-wrapper {
    position: relative;
    margin-block-end: 24px;
}

.footer .input-field {
    padding: 12px;
    padding-inline-start: 20px;
    border-block-end: 1px solid var(--text-wild-blue-yonder);
    font-size: var(--fontSize-6);
}

.footer .input-field::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

.footer .input-wrapper ion-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    --ionicon-stroke-width: 40px;
}

.footer-bottom {
    border-block-start: 1px solid var(--border-prussian-blue);
    padding-block: 50px;
}

.copyright {
    text-align: center;
    margin-block-end: 15px;
}

.copyright-link {
    display: inline-block;
    color: var(--text-carolina-blue);
    font-style: italic;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-link:is(:hover, :focus-visible) {
    color: var(--text-carolina-blue);
    transform: translateY(-2px);
}


/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--bg-prussian-blue);
    color: var(--white);
    display: grid;
    place-items: center;
    border-radius: var(--radius-circle);
    border: 3px solid var(--bg-carolina-blue);
    transition: var(--transition-1);
    visibility: hidden;
    opacity: 0;
    z-index: 4;
}

.back-top-btn:is(:hover, :focus-visible) {
    box-shadow: var(--shadow-2);
}

.back-top-btn.active {
    visibility: visible;
    opacity: 0.7;
    transform: translateY(-10px);
}


/* -------------------- Modal Window -------------------------------*/

/*.modal {*/
/*    display: none; !* Сховано по замовчуванню *!*/
/*    position: fixed; !* Залишатися на одному місці *!*/
/*    z-index: 1; !* Сидіти на вершині *!*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%; !* Повна ширина *!*/
/*    height: 100%; !* Повна висота *!*/
/*    overflow: auto; !* Включити прокрутку, якщо необхідно *!*/
/*    background-color: rgba(0, 0, 0, 0.4); !* Чорний колір з прозорістю *!*/
/*}*/

/*.modal-content {*/
/*    !*background-color: hsla(222, 47%, 11%, 1);*!*/
/*    margin: 10% auto; !* 15% від верхнього та центрування *!*/
/*    padding: 30px;*/
/*    border: 1px solid hsla(199, 89%, 49%, 1);*/
/*    width: 80%; !* Може бути змінено для зміни розміру модального вікна *!*/
/*    max-width: 400px;*/
/*    border-radius: 8px;*/
/*    text-align: center;*/
/*    backdrop-filter: blur(8px);*/
/*    -webkit-backdrop-filter: blur(9px);*/
/*}*/

/*.close {*/
/*    color: hsla(199, 89%, 49%, 1);*/
/*    float: right;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*    color: #c80202;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/

/*.input-field {*/
/*    position: relative;*/
/*    border-bottom: 2px solid hsla(199, 89%, 49%, 1);;*/
/*    margin: 15px 0;*/
/*}*/

/*.input-field label {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    transform: translateY(-50%);*/
/*    color: #fff;*/
/*    font-size: 16px;*/
/*    pointer-events: none;*/
/*    transition: 0.15s ease;*/
/*}*/

/*.input-field input {*/
/*    width: 100%;*/
/*    height: 40px;*/
/*    background: transparent;*/
/*    border: none;*/
/*    outline: none;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*}*/

/*.input-field input:focus ~ label,*/
/*.input-field input:valid ~ label {*/
/*    font-size: 0.8rem;*/
/*    top: 10px;*/
/*    transform: translateY(-120%);*/
/*}*/

/*.forget {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    margin: 25px 0 35px 0;*/
/*    color: #fff;*/
/*}*/

/*form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.login-h2 {*/
/*    font-size: 2rem;*/
/*    margin-bottom: 20px;*/
/*    margin-top: 20px;*/
/*    color: #fff;*/
/*}*/


/*.forget {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    margin: 25px 0 35px 0;*/
/*    color: #fff;*/
/*}*/

/*#remember {*/
/*    accent-color: #fff;*/
/*}*/

/*.forget label {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.forget label p {*/
/*    margin-left: 8px;*/
/*}*/

/*.btn-login {*/
/*    background: #000;*/
/*    border: 2px solid hsl(0, 0%, 0%);*/
/*    color: white;*/
/*    font-size: 1.4rem;*/
/*    font-weight: 600;*/
/*    max-width: max-content;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 3px;*/
/*    transition: 0.3s ease;*/
/*    !*align-items: center;*!*/

/*}*/


/*.btn-login:hover {*/
/*    color: #000000;*/
/*    background: rgba(255, 255, 255);*/
/*}*/

/*.btn-container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.register {*/
/*    text-align: center;*/
/*    margin-top: 30px;*/
/*    color: #fff;*/
/*}*/

/* --------- Carousel -------------------------*/

.carousel {
    width: 100%;
    max-height: 200px; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
    display: none;
    margin-bottom: 30px;
}

.carousel-slides {
    width: 100%; /* This should be 100% times number of images */
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    width: 100%; /* Adjust this based on the number of slides */
    flex: 0 0 auto;
    background-size: cover;
    background-position: center;
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

    /**
     * CUSTOM PROPERTY
     */
    :root {

        /**
         * typography
         */

        /* font size */
        --fontSize-1: 4.4rem;
        --fontSize-2: 3.5rem;

        /**
         * spacing
         */

        --section-padding: 100px;

    }


    /**
     * REUSED STYLE
     */
    .container {
        /*max-width: 540px;*/
        width: 100%;
        margin-inline: auto;
    }

    .headline-3 {
        --fontSize-2: 1.6rem;
        font-family: "Montserrat", sans-serif;
    }


    /**
     * HEADER
     */
    .header .btn {
        display: block;
        margin-inline-start: auto;
        padding: 8px 20px;
    }

    .header.active {
        padding-block: 18px;
    }


    /**
     * HERO
     */
    .hero {
        position: relative;
    }

    .hero .input-wrapper {
        max-width: 390px;
    }

    .hero-bg {
        display: block;
        position: absolute;
        pointer-events: none;
    }

    .hero-bg-1 {
        top: 80px;
        left: 0;
    }

    .hero-bg-2 {
        bottom: -200px;
        left: -20px;
    }

    .shape-2 {
        left: 60px;
    }


    /**
     * TOPICS
     */
    .topics .section-title {
        font-size: 2rem;
    }

    .slider {
        --slider-items: 3;
    }

    .slider-item {
        min-width: calc(33.33% - 13.33px);
    }


    /**
     * FEATURE
     */
    .feature {
        position: relative;
    }

    .feature-bg {
        display: block;
        position: absolute;
        top: -100px;
        right: 0;
        pointer-events: none;
    }


    /**
     * RECENT POST
     */
    .recent-post-card {
        grid-template-columns: 0.5fr 1fr;
        gap: 20px;
    }

    .pagination-btn {
        width: 42px;
        height: 42px;
    }


    /**
     * ASIDE
     */
    .aside-title {
        --fontSize-2: 2rem;
    }

    .modal-content {
        margin: 14% auto;
    }

}


/**
 * responsive for large than 768px screen
 */


@media (min-width: 768px) {

    /**
     * CUSTOM PROPERTY
     */
    :root {

        /**
         * typography
         */

        /* font size */
        --fontSize-1: 6.4rem;
        --fontSize-2: 4rem;

    }


    /**
     * REUSED STYLE
     */


    /**
     * RECENT POST
     */
    .recent-post-card {
        grid-template-columns: 0.7fr 1fr;
    }

    .modal-content {
        margin: 14% auto;
    }

}


/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

    /**
     * REUSED STYLE
     */


    /**
     * HERO
     */
    .hero {
        padding-block-start: calc(var(--section-padding) + 80px);
    }

    .hero .container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }


    /**
     * TOPICS
     */
    .topic-card {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        align-items: center;
        gap: 20px;
    }


    /**
     * FEATURE
     */
    .feature-list li:nth-child(-n+2) {
        width: calc(50% - 15px);
    }

    .feature-list li:nth-child(n+3) {
        width: calc(33.33% - 20px);
    }

    .feature-list li:nth-child(n+3) .headline-3 {
        --fontSize-2: 2rem;
    }


    /**
     * TAGS
     */
    .tags .grid-list {
        grid-template-columns: repeat(4, 1fr);
    }


    /**
     * RECENT POST
     */
    .recent-post .container {
        grid-template-columns: 1fr 0.5fr;
        align-items: flex-start;
    }


    /**
     * FOOTER
     */
    .footer-top {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .copyright {
        margin-block-end: 0;
    }

    .modal-content {
        margin: 14% auto;
    }

}


/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

    /**
     * REUSED STYLE
     */
    body .nav-active {
        overflow-y: overlay;
    }


    /**
     * HEADER
     */
    .nav-open-btn,
    .navbar-top,
    .navbar-bottom,
    .copyright-text {
        display: none;
    }

    .navbar,
    .navbar.active {
        all: unset;
        display: block;
    }

    .navbar-list {
        border-block-end: none;
        display: flex;
        gap: 40px;
        margin-inline: auto;
    }

    .header .btn {
        margin-inline-start: 0;
    }

    .navbar-link {
        color: var(--text-wild-blue-yonder);
        font-weight: 600;
    }

    .navbar-link:is(:hover, :focus-visible) {
        /*color: var(--text-carolina-blue);*/
        transform: translateX(0);
    }

    .navbar-list li a .sm-line {
        position: relative;
        transition: all 0.5s ease-in-out;
        display: inline-block;
    }

    .navbar-list li a:hover .sm-line::after {
        width: 100%;
    }

    .navbar-list li a .sm-line::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: hsl(166, 100%, 37%);
        transition: width 0.3s ease-in-out;
    }


    /**
     * HERO
     */
    .hero .container {
        max-width: 1050px;
    }


    /**
     * TAGS
     */
    .tags .grid-list {
        grid-template-columns: repeat(6, 1fr);
    }


    /**
     * FOOTER
     */
    .footer-top {
        gap: 40px;
        padding-inline: 120px;
    }

    .modal-content {
        margin: 14% auto;
    }


}

.btn-recent {
    display: flex;
    justify-content: center;

}

/* --------------------------------------------------------------- */

/* Post Detail */
.section-detail {
    padding-top: 100px;
}

.main-container-post-detail {
    display: grid;
    grid-template-columns: 0.43fr 2fr 0.5fr;
    color: #000;
    margin: 0 34px;
    gap: 34px;
}

.post-header {
    text-align: center;
    margin-bottom: 20px;
}

.post-title {
    font-size: 2em;
    color: #0e0e0e;
    display: inline-block;
    margin: 20px 0 30px 0;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: 700;

}

.post-image img {
    width: 100%;
    border-radius: 10px;
    margin: auto;

}

.post-meta {
    font-size: 0.9em;
    color: #9ca3af;
    margin: 20px 0 35px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.post-meta span:hover {
    color: var(--bg-carolina-blue);
    cursor: default;
}

.post-meta .icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.post-body {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #191818;


}

.post-body img {
    border: 20px;
    margin: 30px auto;
    width: 85%;
    display: block;
    border-radius: 10px;
}

.post-body u {
    text-decoration: underline;
    text-decoration-color: #0bd1d1; /* Ваш обраний колір */
    text-decoration-style: solid; /* Ви можете змінити стиль на dotted, dashed тощо */
    color: inherit; /* Забезпечує, що колір тексту залишається незмінним */
}

.post-body p {
    margin: 20px 0;
}

.post-body ul {
    list-style: none; /* Видалення стандартних маркерів */
    padding-left: 10px; /* Видалення відступу зліва */
}

.post-body li {
    position: relative; /* Дозволяє абсолютне позиціонування для псевдоелементів */
    padding: 0 0 0 25px; /* Відступ для тексту, щоб не нашаровуватись на маркер */
    line-height: 1.5; /* Відстань між рядками */
    margin: 18px 0;
}

.post-body li:before {
    content: ''; /* Потрібно для створення маркера */
    position: absolute;
    left: 0; /* Позиція маркера зліва */
    top: 12px; /* Вирівнювання маркера по вертикалі */
    transform: translateY(-50%); /* Центрування маркера відносно висоти рядка */
    height: 8px; /* Розмір маркера */
    width: 8px; /* Розмір маркера */
    background-color: #FF0000; /* Колір маркера */
    border-radius: 50%; /* Кругла форма маркера */
}

.post-body h3 {
    font-size: 18px;
}

.post-body h2 {
    font-size: 24px;
}

/*.post-body h4 {*/
/*    font-size: 18px;*/
/*    font-weight: 700;*/
/*    letter-spacing: 0.2px;*/
/*    margin-bottom: 20px;*/
/*    position: relative;*/
/*    padding-left: 20px;*/
/*    margin-top: 20px;*/
/*    !*color: #d1d5db;*!*/
/*    color: #101010;*/
/*    line-height: 1.4;*/
/*}*/

/*.post-body h4::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    width: 3px; !* Ширина лінії *!*/
/*    background-color: #FF0000; !* Колір лінії *!*/
/*}*/


.post-body blockquote {
    background-color: var(--bg-carolina-blue);
    padding: 4px 16px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
}

.post-body blockquote p {
    margin: 10px 0;
}

.post-short_description {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 15px;
    margin-top: 20px;
    /*color: #d1d5db;*/
    color: #101010;
    line-height: 1.4;
}

.post-short_description::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px; /* Ширина лінії */
    background-color: #00bd91; /* Колір лінії */
}

.post-footer {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.tag {
    /*background-color: var(--bg-prussian-blue);*/
    max-width: max-content;
    color: var(--text-white);
    font-size: var(--fontSize-8);
    font-weight: var(--weight-bold);
    padding: 4px 15px;
    border-radius: var(--radius-pill);
    transition: var(--transition-1);
}

.tag:is(:hover, :focus-visible) {
    transform: translateY(-2px);
    background-color: var(--bg-carolina-blue);
}

.tag-red {
    background-color: var(--bg-prussian-blue);
    max-width: max-content;
    color: var(--text-white);
    font-size: var(--fontSize-8);
    font-weight: var(--weight-bold);
    padding: 4px 15px;
    border-radius: var(--radius-pill);
    transition: var(--transition-1);
}


/* --------------- Comments --------------- */

.comments-section {
    margin-top: 40px;
    padding: 16px;
    border-radius: var(--radius-16);
    /*box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.07);*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;

}

.comment {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    border-bottom: 1px solid #cacaca;

}

.comment-author {
    font-weight: bold;
    color: #40c3f7;
}

.comment-date {
    font-size: 0.8em;
    color: #9ca3af;
}

.comment-body {
    margin-top: 16px;
}

.comment-form {
    margin-top: 40px;
}

.comment-form h3 {
    margin-bottom: 15px;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.comment-form .form-group {
    margin-bottom: 20px;
}

.comment-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    color: #d1d5db;
}

.comment-form .form-control::placeholder {
    color: #9ca3af;
}

.comment-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #40c3f7;
    color: #fff;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #0097e6;
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.no-comments {
    color: #9ca3af;
    text-align: center;
    margin-top: 30px;
}

/* ------------- btn Login ---------------------*/


.nav-bar-container a:first-child {
    /*border: 1px solid #0bd1d1;*/
    color: #fff;
    background-color: #000000;

}

.nav-bar-container a:first-child:hover {
    background: #fff;
    color: #000;
    background-size: 200%;
    transition: all 0.3s;
}


/* -------------------- Responsive Img ---------------------- */


/* -------------------------------------------------------------- */

/* ------------------------ ADS ----------------------------------*/

.img-responsive-ads {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    border: 16px;
"
}

/* ----------------------------------------------------------- */

/* ------------------------ Login Form --------------------------- */
.container-login {
    margin: auto;
    max-width: 500px;
    width: 100%;
    border-radius: var(--radius-16);
}

.container-login .registration {
    display: none;
}

#check:checked ~ .registration {
    display: block;
}

#check:checked ~ .login {
    display: none;
}

#check {
    display: none;
}

.container-login .form {
    padding: 2rem;
}

.form header {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4.5rem;
}

.form input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.form input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
    font-size: 16px;
    color: hsl(166, 100%, 37%);
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form input.button {
    color: #fff;
    background: hsl(166, 100%, 37%);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
}

.form input.button:hover {
    background: #006653;
}

.signup {
    font-size: 17px;
    text-align: center;
}

.signup label {
    color: #009579;
    cursor: pointer;
}

.signup label:hover {
    text-decoration: underline;
}

/*----------------------------- FEATURED 2.0 ------------------------------*/
.feature-bg-post-list {
    display: none;
}

.feature-list-post-list-detail {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.feature-list-post-list-detail-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 40px;
}

.feature-list-post-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    font-size: 1.6rem;
}


/*@media (min-width: 1400px) {*/
/*    .feature-list-post-list {*/
/*        display: grid;*/
/*        grid-template-columns: 1fr 1fr 1fr;*/
/*        gap: 20px;*/
/*        font-size: 1.6rem;*/
/*    }*/
/*}*/

.feature-list-post-list li {
    flex: 1 1 calc(50% - 15px); /* Два елементи в рядку з урахуванням проміжку */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .feature-list-post-list li {
        flex: 1 1 100%; /* На малих екранах елементи займають всю ширину */

    }

    .feature-list-post-list {
        gap: 15px;
    }
}

.feature-card-post-list {
    padding: 10px 10px 0 10px;
    border-radius: var(--radius-16);
    transition: var(--transition-1);
    display: flex;
    flex-direction: column; /* Ensure that the content inside each card is arranged vertically */
    justify-content: space-between; /* Spread out the content evenly */
    height: 100%; /* Make the card take the full height available */
}

.feature-card-login {
    padding: 10px 10px 0 10px;
    border-radius: var(--radius-16);
    transition: var(--transition-1);
    display: flex;
    flex-direction: column; /* Ensure that the content inside each card is arranged vertically */
    justify-content: space-between; /* Spread out the content evenly */
    height: 100%; /* Make the card take the full height available */
}

.feature-card-post-list .card-content-post-list {
    padding: 0 6px;

    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    flex-grow: 1; /* Allow the content to grow and fill the available space */
}

.feature-card-post-list:is(:hover, :focus-within) {
    transform: translateY(-5px);
}

.feature-card-post-list .card-banner-post-list {
    border-radius: var(--radius-16);
}

.feature-card-post-list .card-wrapper-post-list {
    margin-block-start: 24px;
}

.feature-card-post-list:is(:hover, :focus-visible) {
    box-shadow: var(--shadow-2);
    /*background-image: linear-gradient(var(--bg-oxford-blue), var(--bg-oxford-blue)), var(--gradient-1);*/
    background-clip: padding-box, border-box;
    border-color: transparent;
    transform: translateY(-2px);
    transition: var(--transition-1);
}

.feature-post-list .profile-card-post-list :is(.card-title-post-list, .card-subtitle-post-list) {
    color: var(--text-slate-gray);
}

.feature-post-list .profile-card-post-list .card-title-post-list {
    font-weight: var(--weight-bold);
}

.feature-post-list .profile-card-post-list .card-subtitle-post-list,
.feature-post-list .card-wrapper-post-list .card-btn-post-list {
    font-size: var(--fontSize-6);
}

.feature-card-post-list .card-wrapper-post-list:last-child {
    font-size: var(--fontSize-4);
    margin-block-end: 0;
}

.feature-post-list .card-wrapper-post-list .card-btn-post-list {
    position: relative;
    color: var(--text-wild-blue-yonder);
    z-index: 1;
}

.card-btn-post-list:hover {
    color: #fff;
}

.feature-post-list .btn-post-list {
    margin-inline: auto;
    margin-block-start: 30px;
}

.bg-white {
    border-radius: var(--radius-16);
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.07);
    background-color: #fff;
}

.right-ads a img {
    border-radius: var(--radius-16);
}

.img-responsive-ads {
    border-radius: var(--radius-8);
}

.category_title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600;

}

.category_title_category-name {
    display: inline-block;
    padding: 6px 13px;
    border-radius: 20px;
    color: #fff;
    text-transform: capitalize;
}

@media (max-width: 1345px) {
    .feature-list-post-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navbar
}

@media (max-width: 1175px) {
    .main-container {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        color: #000;
        justify-content: center;
        gap: 25px;
    }

    .detail-recomended-posts-left {
        display: none;
    }

    .main-container-post-detail {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        color: #000;
        justify-content: center;
        gap: 25px;
    }

    .carousel {
        display: block;
    }

    .right-ads {
        display: none;
    }

    .category_title {
        margin-bottom: 20px;
    }


}

@media (max-width: 950px) {
    .main-container {
        display: grid;
        grid-template-columns: 2fr;
        color: #000;
        justify-content: center;
        gap: 20px;
    }

    .main-container-post-detail {
        display: grid;
        grid-template-columns: 2fr;
        color: #000;
        justify-content: center;
        gap: 20px;
    }

    .section-detail {
        padding-top: 80px;
    }


    .menu-container {
        display: none;
    }

    .right-ads {
        display: none;
    }

    .img-responsive {
        width: 80%;
    }
}


@media (max-width: 800px) {
    .modal-content {
        margin: 20% auto;
    }

    .feature-list-post-list-detail-bottom {
        grid-template-columns: 1fr 1fr;
    }

    .feature-list-post-list-detail-bottom li:nth-child(3) {
        display: none;
    }

    .img-responsive {
        width: 100%;
    }

    .img-responsive-ads {
        margin: 20px 0;
    }

    .main-container {
        margin: 0 10px;
    }

    .main-container-post-detail {
        margin: 0 10px;
    }
}

@media (max-width: 675px) {
    .feature-list-post-list {
        display: grid;
        grid-template-columns: 1fr;
    }
}


@media (max-width: 575px) {
    .margin-feature {
        margin-top: 24px;
    }

    .header.active {
        padding-block: 12px;

    }

    .section-detail {
        padding-top: 70px;
    }

    .category_title {
        margin-top: 30px;
    }

    .feature-card-login {
        margin: 60px auto;
    }
}


@media (max-width: 500px) {
    .modal-content {
        margin: 30% auto;
    }

    .feature-list-post-list-detail-bottom {
        display: grid;
        grid-template-columns: 1fr;
        gap: 14px
    }

    .header {
        padding-block: 12px;
    }

    .container-post-detail {
        /*margin: 70px auto 100px auto;*/
    }

    .card-title {
        font-size: 16px;

    }

    .feature-card-post-list {
        padding: 7px 7px 2px 7px;;
    }

    .post-title {
        font-size: 1.6em;
    }


}

@media (max-width: 400px) {

    .section-detail {
        padding-top: 60px;
    }

    .display-no {
        display: none;
    }

    .carousel {
        margin-bottom: 20px;
    }


    .post-meta {
        justify-content: space-between;
        font-size: 1.4rem;
        gap: 1.6rem;

    }

    .post-title {
        font-size: 1.8rem;
    }
}

/*------------ SEarch box  ----------------------------*/
.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 40px;
    width: 40px;
    border-style: none;
    padding: 10px;
    font-size: 1.6rem;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color: #fff;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 1.6rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus ~ .input-search {
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/*-----------------------------------------------------------*/

.section-title-first {
    margin-top: 50px;
}


/* ------------------------   Marker List ----------------------------*/


/* -------------------------------------------------------------- */


/* ------------------- Hover Img Text -------------------------- */
.card-banner-post-list .img-cover {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.card-banner-post-list:hover .overlay {
    opacity: 1;
}

.card-content-post-list {
    padding: 10px;
    margin-bottom: 8px;
}

.card-badge {
    background-color: #ccc; /* Default fallback color */
    padding: 5px 10px;
    border-radius: 15px;
}

.wrapper {
    display: flex;
    align-items: center;
}


/* --------- Message Window -------------------*/
#messages-container {
    /*position: fixed;*/
    /*top: 20px;*/
    /*right: 20px;*/
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Плавне змінення прозорості */
}

.alert-success {
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #00bd91;
    border-color: #f5c6cb;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.alert-error {
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #bd0048;
    border-color: #f5c6cb;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.alert-danger {
    color: #ffffff;
}




