{% extends 'blog/base.html' %}

{% block title %}Wren - Perosonal Blog Website {% endblock %}

{% block content %}

    {% load static %}
    {% load blog_tags %}

    <main>
        <article>

            <!-- 
              - #HERO
            -->

{#            <section class="hero" id="home" aria-label="home">#}
{#                <div class="container">#}
{#                    <div class="hero-content">#}
{##}
                        {#                        <p class="hero-subtitle">Hello Everyone!</p>#}
{##}
{#                        <h1 class="headline headline-1 section-title">#}
{#                            I’m <span class="span">Wren Clark</span>#}
{#                        </h1>#}
{##}
{##}
{#                            <div class="search-box">#}
{#                                <button class="btn-search"><i class="fas fa-search"></i></button>#}
{#                                <input type="text" class="input-search" placeholder="Type to Search...">#}
{#                            </div>#}
{##}
{##}
{#                    </div>#}
{##}
{#                    <div class="hero-banner">#}
{##}
{#                        <img src="{% static 'images/3.png' %}" width="327" height="490" alt="Wren Clark"#}
{#                             class="w-100">#}
{##}
{#                        <img src="{% static 'images/pattern-2.svg' %}" width="27" height="26" alt="shape"#}
{#                             class="shape shape-1">#}
{##}
{#                        <img src="{% static 'images/pattern-3.svg' %}" width="27" height="26" alt="shape"#}
{#                             class="shape shape-2">#}
{##}
{#                    </div>#}
{##}
{#                    <img src="{% static 'images/shadow-1.svg' %}" width="500" height="800" alt=""#}
{#                         class="hero-bg hero-bg-1">#}
{##}
{#                    <img src="{% static 'images/shadow-2.svg' %}" width="500" height="500" alt=""#}
{#                         class="hero-bg hero-bg-2">#}
{##}
{#                </div>#}
{#            </section>#}


            <!-- 
              - #TOPICS
            -->
            <section class="topics" id="topics" aria-labelledby="topic-label">
                <div class="container">

                    <div class="card topic-card">

                        <div class="card-content">

                            <h2 class="headline headline-2 section-title card-title" id="topic-label">
                                Популярні категорії
                            </h2>

                            <p class="card-text">
                                Не пропустіть останні новини про штучний інтелект, поради щодо машинного навчання,
                                огляди нових технологій, інноваційні проекти та багато іншого.
                            </p>

                        </div>

                        <div class="slider" data-slider>
                            <ul class="slider-list" data-slider-container>

                                {% for category in categories %}
                                    <li class="slider-item">
                                        <a href="{% url 'blog:post_list_by_category' category.id %}"
                                           class="slider-card">

                                            <figure class="slider-banner img-holder"
                                                    style="--width: 507; --height: 618;">
                                                <img src="{{ category.category_icon.url }}" width="507" height="618"
                                                     loading="lazy" alt="{{ category }}"
                                                     class="img-cover">
                                            </figure>

                                            <div class="slider-content">
                                                <span class="slider-title">{{ category }}</span>

                                                <p class="slider-subtitle">{{ category.count }}</p>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}


                            </ul>
                        </div>

                    </div>
                    <div class="btn-group">
                        <button class="btn-icon" aria-label="previous" data-slider-prev>
                            <ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
                        </button>

                        <button class="btn-icon" aria-label="next" data-slider-next>
                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </button>
                    </div>
                </div>
            </section>


            <!-- 
              - #FEATURED POST
            -->

            <section class="section feature" aria-label="feature" id="featured">
                <div class="container">

                    <h2 class="headline headline-2 section-title section-title-first">
                        <span class="span">Найпопулярніші пости</span>
                    </h2>

                    <p class="section-text">
                        Популярні та високорейтингові статті
                    </p>

                    {#                    <button id="loginBtn" class="btn btn-primary">Вхід</button>#}

                    <!-- Модальне вікно -->

                    {#                    {% get_most_commented_posts as most_commented_posts %}#}


                    <ul class="feature-list-post-list">
                        {% for post in featured_post %}
                            <li>
                                <div class="card feature-card-post-list">
                                    <figure class="card-banner-post-list img-holder"
                                            style="--width: 1402; --height: 703;">
                                        <a href="{{ post.get_absolute_url }}" class="img-cover">
                                            <img src="{{ post.image.url }}" width="1402" height="903" loading="lazy"
                                                 alt="Self-observation is the first step of inner unfolding"
                                                 class="img-cover">
                                        </a>
                                    </figure>
                                    <div class="card-content-post-list">
                                        <div class="card-wrapper">
                                            <div class="card-badge">
                                                <a href="{% url 'blog:post_list_by_category' post.category.id %}">{{ post.category }}</a>
                                            </div>
                                            <div class="wrapper">
                                                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                                                <span class="span">{{ post.calculate_reading_time }} хв.</span>
                                            </div>


                                        </div>
                                        <h3 class="headline headline-3">
                                            <a href="{{ post.get_absolute_url }}"
                                               class="card-title hover-2">{{ post.title }}</a>
                                        </h3>
                                        <div class="card-wrapper">
                                            <div class="profile-card-post-list">
                                                <div>
                                                    <p class="card-subtitle-post-list">{{ post.created_at | date }}</p>
                                                </div>
                                            </div>

                                            <div class="card-tag-post-list">
                                                {% for tag in post.tags.all %}

                                                    <div>
                                                        <a href="{% url "blog:post_list_by_tag" tag.slug %}"
                                                           class="span hover-2">
                                                            #{{ tag.name }}
                                                        </a>
                                                    </div>
                                                {% endfor %}

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>


                </div>

                <img src="{% static 'images/shadow-3.svg' %}" width="500" height="1500" loading="lazy" alt=""
                     class="feature-bg">

            </section>


            <!-- 
              - #POPULAR TAGS
            -->

            <section class="tags" aria-labelledby="tag-label">
                <div class="container">

                    <h2 class="headline headline-2 section-title" id="tag-label">
                        <span class="span">Категорії</span>
                    </h2>

                    <p class="section-text">
                        Тут ти знайдеш все і навіть більше
                    </p>

                    <ul class="grid-list">
                        {% for category in categories %}
                            <li>
                                <a href="{% url 'blog:post_list_by_category' category.id %}">
                                    <button class="card tag-btn">
                                        <img src="{{ category.category_icon.url }}" width="32" height="32"
                                             loading="lazy"
                                             alt="Travel">

                                        <p class="btn-text">{{ category }}</p>
                                    </button>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>

                </div>
            </section>


            <!-- 
              - #RECENT POST
            -->

            <section class="section recent-post" id="recent" aria-labelledby="recent-label">
                <div class="container">

                    <div class="post-main">

                        <h2 class="headline headline-2 section-title">
                            <span class="span">Останні Пости</span>
                        </h2>

                        <p class="section-text">
                            Не пропустіть останні тенденції
                        </p>

                        <ul class="grid-list">

                            {% for post in recent_posts %}
                                <li>
                                    <div class="recent-post-card">

                                        <figure class="card-banner img-holder" style="--width: 271; --height: 258;">
                                            <a href="{{ post.get_absolute_url }}" class="img-cover"><img
                                                    src="{{ post.image.url }}" width="271" height="258"
                                                    loading="lazy"
                                                    alt="Helpful Tips for Working from Home as a Freelancer"
                                                    class="img-cover"></a>
                                        </figure>

                                        <div class="card-content">

                                            <a href="{% url 'blog:post_list_by_category' post.category.id %}"
                                               class="card-badge">{{ post.category }}</a>

                                            <h3 class="headline headline-3 card-title">
                                                <a href="{{ post.get_absolute_url }}"
                                                   class="link hover-2">{{ post.title }}</a>
                                            </h3>

                                            <p class="card-text">
                                                {{ post.body | truncatewords:15 }}
                                            </p>

                                            <div class="card-wrapper">
                                                <div class="card-tag">
                                                    {#<a href="{% url 'blog:post_list_by_tag' tag.slug %}" class="span hover-2">#{{ post.tags.all | join:" #" }}</a>#}
                                                    {% for tag in post.tags.all %}
                                                        <a href="{% url "blog:post_list_by_tag" tag.slug %}"
                                                           class="span hover-2">
                                                            #{{ tag.name }}
                                                        </a>
                                                    {% endfor %}
                                                </div>

                                                <div class="wrapper">
                                                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                                                    <span class="span">{{ post.calculate_reading_time }} хв.</span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </li>

                            {% endfor %}
                        </ul>
                        <div class="btn-recent">
                            <a href="{% url 'blog:post_list' %}" class="btn btn-secondary">
                                <span class="span">Всі Пости</span>

                                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                            </a>
                        </div>
                    </div>

                    <div class="post-aside grid-list">

                        {#                        <div class="card aside-card">#}
                        {##}
                        {#                            <h3 class="headline headline-2 aside-title">#}
                        {#                                <span class="span">Popular Posts</span>#}
                        {#                            </h3>#}
                        {#                            #}
                        {#                            <ul class="popular-list">#}
                        {##}
                        {#                                {% for post in show_latest_posts %}#}
                        {#                                #}
                        {#                                <li>#}
                        {#                                    <div class="popular-card">#}
                        {##}
                        {#                                        <figure class="card-banner img-holder" style="--width: 64; --height: 64;">#}
                        {#                                            <img src="./assets/images/popular-post-1.jpg" width="64" height="64"#}
                        {#                                                 loading="lazy"#}
                        {#                                                 alt="Creating is a privilege but it’s also a gift" class="img-cover">#}
                        {#                                        </figure>#}
                        {##}
                        {#                                        <div class="card-content">#}
                        {##}
                        {#                                            <h4 class="headline headline-4 card-title">#}
                        {#                                                <a href="#" class="link hover-2">Creating is a privilege but it’s also a#}
                        {#                                                    gift</a>#}
                        {#                                            </h4>#}
                        {##}
                        {#                                            <div class="warpper">#}
                        {#                                                <p class="card-subtitle">15 mins read</p>#}
                        {##}
                        {#                                                <time class="publish-date" datetime="2022-04-15">15 April 2022</time>#}
                        {#                                            </div>#}
                        {##}
                        {#                                        </div>#}
                        {##}
                        {#                                    </div>#}
                        {#                                </li>#}
                        {#                                {% endfor %}#}
                        {##}
                        {##}
                        {#                            </ul>#}
                        {##}
                        {#                        </div>#}

                        <div class="card aside-card">

                            <h3 class="headline headline-2 aside-title">
                                <span class="span">Останні Коментарі</span>
                            </h3>


                            <ul class="comment-list">
                                {% get_latest_comments as latest_comments %}
                                {% if latest_comments %}
                                    {% for comment in latest_comments %}
                                        <li>
                                            <div class="comment-card">
                                                <div class="profile-card">
                                                    <figure class="profile-banner img-holder">
                                                        <img src="{% static 'path/to/default/avatar.png' %}" width="32"
                                                             height="32"
                                                             loading="lazy" alt="{{ comment.user }}">
                                                    </figure>

                                                    <div>
                                                        <p class="card-title">{{ comment.user }}</p>
                                                        <time class="card-date"
                                                              datetime="{{ comment.created_at|date:'Y-m-d' }}">{{ comment.created_at|date:'d F Y' }}</time>
                                                    </div>
                                                </div>

                                                <blockquote class="card-text">
                                                    {{ comment.comment }}
                                                </blockquote>


                                            </div>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li>No comments found.</li>
                                {% endif %}
                            </ul>


                        </div>

                        <div class="card aside-card insta-card">

                            <a href="#" class="logo">
                                <img src="{% static 'images/logo.svg' %}" width="119" height="37" loading="lazy"
                                     alt="Wren logo">
                            </a>

                            <p class="card-text">
                                Follow us on instagram
                            </p>

                            <ul class="insta-list">

                                <li>
                                    <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                                        <img src="{% static 'images/insta-post-1.png' %}" width="276" height="277"
                                             loading="lazy" alt="insta post"
                                             class="img-cover">
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                                        <img src="{% static 'images/insta-post-2.png' %}" width="276" height="277"
                                             loading="lazy" alt="insta post"
                                             class="img-cover">
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                                        <img src="{% static 'images/insta-post-3.png' %}" width="276" height="277"
                                             loading="lazy" alt="insta post"
                                             class="img-cover">
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                                        <img src="{% static 'images/insta-post-4.png' %}" width="276" height="277"
                                             loading="lazy" alt="insta post"
                                             class="img-cover">
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                                        <img src="{% static 'images/insta-post-5.png' %}" width="276" height="277"
                                             loading="lazy" alt="insta post"
                                             class="img-cover">
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                                        <img src="{% static 'images/insta-post-6.png' %}" width="276" height="277"
                                             loading="lazy" alt="insta post"
                                             class="img-cover">
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                                        <img src="{% static 'images/insta-post-7.png' %}" width="276" height="277"
                                             loading="lazy" alt="insta post"
                                             class="img-cover">
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                                        <img src="{% static 'images/insta-post-8.png' %}" width="276" height="277"
                                             loading="lazy" alt="insta post"
                                             class="img-cover">
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="insta-post img-holder" style="--width: 276; --height: 277;">
                                        <img src="{% static 'images/insta-post-9.png' %}" width="276" height="277"
                                             loading="lazy" alt="insta post"
                                             class="img-cover">
                                    </a>
                                </li>

                            </ul>

                        </div>

                    </div>

                </div>
            </section>

        </article>
    </main>

{% endblock %}