

{% extends 'blog/base.html' %}

{% load blog_tags %}
{% load static %}

{% block title %}Головна{% endblock %}

{% block content %}

    <div class="container">
        <div class="container-login card feature-card-login">
            <div class="login form">
                <header>Зареєструватись</header>
                {% include 'blog/post/includes/messages.html' %}
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="Нік" name="username">
                    <input type="email" placeholder="Пошта" name="email">
                    <input type="password" placeholder="Пароль" name="password">
                    <input type="password" placeholder="Підтвердити пароль" name="confirm_password">
                    <a href="#">Забули пароль?</a>
                    <input type="submit" class="button" value="Зареєструватись">
                </form>
                <div class="signup">
                    <label for="check"><a href="{% url 'login' %}">Увійти</a></label>
                </div>
            </div>


        </div>
    </div>
    <div class="right-ads">
        <a href=""><img src="{% static 'gifs/260x505-affhub_1-1.gif' %}" alt=""
                        style="max-width: 250px;"></a>
    </div>

{% endblock %}

